.product_image_150_100 {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.container_image_detail {
    margin-top: 20px;
}

.alert-danger {
    margin-top: 10px;
}

.feature_image {
    margin-top: 20px;
}

